.container
{
	display: block;
	margin: 0 auto;
	width: 700px;
}
.header
{
	display: block;
	height: 116px;
	width: 100%;
}

.head_img
{
	display: inline-block;
	float: left;
	margin-top: 40px;
	width: 265px;
	height: 39px;
	background-image: url('IMAGES/HeadTXT.png');
}
.head_line
{
	display: inline-block;
	float: right;
	margin-top: 70px;
	margin-left: 5px;
	width: 420px;
	height: 2px;
	background-image: url('IMAGES/Head_line.png');
}

.preview
{
	display: block;
	width: 100%;
	height: 532px;
	border-color: red;
}
.preview_img
{
	display: block;
	width: 100%;
	height: 455px;
	background-image: url('IMAGES/preview.png');
}

.Prewiew_Date_BGR
{
	display: block;
	position: relative;
	top: 21px;
	left: 20px;
	height: 104px; 
	width:160px;
	background-color: white;
	opacity: 0.7;
	z-index: 1;
}
.Prewiew_Date_trgl
{
	display: block;
	position: relative;
	top: 342px;
	left: 350px;
	height: 20px; 
	width: 20px;
	background-image: url('IMAGES/Prewiew_Date_trgl.png');
	background-size: 20px 20px;
}
.Prewiew_Date
{
	display: block;
	position: relative;
	top: 25px;
	left: 40px;
	height: 55px;
	width: 82px;
	background-image: url('IMAGES/Prewiew_Date.png');
	z-index: 2;
}

.Prewiew_Date_pnt
{
	display: block;
	position: relative;
	top: -20px;
	left: 135px;
	height: 5px;
	width: 3px;
	background-image: url('IMAGES/Prewiew_Date_pnt.png');
	z-index: 2;
}

.preview_label
{
	display: block;
	width: 100%;
	height: 67px;
}
.preview_labelImg
{
	display: block;
	float: left;
	margin-top: 16px;
	height: 29px;	
	width: 668px;
	padding-left: 1px;
	background-image: url('IMAGES/Preview_label.png');
}
.catalog
{
	display: block;

	width:  975px;
	height: 701px;/*975px;*/

	transform: rotate(-90deg);
	margin-top: 128px;
	margin-left: -137px;
}
.page_num
{
	display: block;
	width: 700px;
	height: 87px;
	/*background-color: coral;	*/
	margin: 0 auto;
	margin-top: 120px;
}

.page_num_
{
	display: block;
	float: left;
	margin-top: 37px;
	height: 13px;	
	width: 357px;
	padding-left: 1px;
	background-image: url('IMAGES/Pages_num.png');
	background-repeat: no-repeat;
	z-index: 0;
}

.Active_page
{
	display: block;
	position: relative;
	bottom: 11px;
	left: 91px;
	height: 34px;
	width: 34px;
	background-image: url('IMAGES/Active_page.png');
	z-index: 99;
	opacity: 0.7;
}

.photo_item
{
	margin: auto;
	min-width: 160px;
	min-height: 104px;
	max-width: 160px;
	max-height: 200px;
	width: auto;
	height: auto;
	display: block;
	float: right;
	transform: rotate(90deg);	
	margin-right: -28px; /*Отступ сверху*/
	margin-top: 29px;    /*Отступ слева*/
	margin-left: -11px;  /*Отступ между строками*/
	margin-bottom: 46px; /*Ширина между колонками*/
	padding-left: -100px;
}
.photoBorder
{
	
	height: 160px;
	display: block;
	float: left;
	transform: rotate(90deg);	
}

#Date_Head
{
	background-repeat: no-repeat;
	border: 0px solid;
	vertical-align: middle;
	align-items: center;
	background-position: 34px 25px;
}
#doublePhoto
{
	height: 320px;
	margin-right: 19px; /*Отступ сверху*/
	margin-top: -19px;    /*Отступ слева*/
	margin-left: 64px;  /*Отступ между строками*/
	float: right;
	background-size: auto auto;
}